#intro {
  background-image: url("../assets/backgrounds/h_img.jpg");
  background-position: center center;
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: 15%;
  font-family: "Gabriela", serif;
}
#intro h1 {
  padding: 5px;
}

.services {
  background-image: url("../assets/backgrounds/s_image.jpg");
  background-size: cover;
  text-align: center;
  color: white;
  font-size: small;
  height: 250px;
}
.we-do {
  text-align: center;
}
.we-do .header {
  padding-bottom: 20px;
}
.port {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 200px;
  margin-right: 200px;
}
.col-md-3 img {
  max-width: 100%;
  max-height: 100%;
}
.port h2 {
  text-align: center;
}
.contact-us {
  background-image: url(../assets/backgrounds/c_image.jpg);
  background-position: center;
  background-size: cover;
  color: white;
}

#textarea {
  background: transparent;
  color: white;
  font-size: 25px;
  margin-right: 100px;
  margin-left: 70px;
  margin-bottom: 50px;
  margin-top: 20px;
  height: 200px;
}
input[type="email"] {
  background: transparent;
  color: white;
  font-size: 25px;
  margin-right: 50px;
  height: 40px;
}
input[type="text"] {
  background: transparent;
  color: white;
  font-size: 25px;
  margin-right: 50px;
  height: 40px;
}
#name::placeholder {
  color: white;
}
#email::placeholder {
  color: white;
}
#textarea::placeholder {
  color: white;
}
.Footer {
  text-align: center;
}
.submit {
  position: absolute;
}
#design,
#prod,
#develop {
  display: none;
}
#hover1,
#hover2,
#hover3,
#hover4,
#hover5,
#hover6,
#hover7,
#hover8 {
  display: none;
  position: relative;
  bottom: 180px;
  text-align: center;
  color: blue;
}
.col-md-3 img {
  width: 100%;
  margin: 20px;
}
.col-md-3 img {
  width: 400px;
  margin: 20px;
}
#form,
.form-control {
  padding-right: 50px;
  padding-left: 50px;
}
#about-us {
  text-align: center;
}
